{% extends 'base.html.twig' %}

{% block title %}LoLTips Champions :{% endblock %}

{% block body %}

<div class="container mt-4">
<h1>Champions</h1>

<a href="{{ path('champions_new')}}" class="btn btn-primary">Ajouter un champion</a>

{% for message in app.flashes('danger') %}
    <div class="alert-danger">
        {{ message }}
    </div>
    {% endfor %}

{% for message in app.flashes('success') %}
    <div class="alert-success">
        {{ message }}
    </div>
    {% endfor %}  


<div class="count">
    <p>Nombre de champions : {{ champions.totalItemCount }}</p>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Numéro</th>
      <th scope="col">Nom</th>
      <th scope="col">Tips</th>
      <th scope="col">Type</th>
      <th scope="col">Edition</th>
      <th scope="col">Suppression</th>
    </tr>
  </thead>
    

    {% for champions in champions %}
    <tbody>
    <tr class="table-info">
      <th scope="row">{{champions.id}}</th>
      <td>{{champions.nom}}</td>
      <td>{{champions.tips}}</td>
      <td>{{champions.type}}</td>
      <td> <a href="{{path('champions_edit', {id : champions.id}) }}" class="btn btn-warning"> Modifier </a></td>
      <td><a href="{{path('champions_delete', {id : champions.id}) }}" class="btn btn-danger"> Supprimer </a></td>
    </tr>   
  </tbody>
    {% endfor %}
</div>  
</table>

<div class="navigation d-flex justify-content-center">
    {{ knp_pagination_render(champions) }}
</div>


{% endblock %}
